In [3]:
import pandas as pd
df = pd.read_csv('GlobalLandTemperaturesByState.csv')
df.isna()
df = df.dropna()
df.head()
df.shape
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [4]:
df = df[df.Country == 'United States']
df.shape

(141930, 5)

In [5]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object

In [6]:
df['dt'] =  pd.to_datetime(df['dt'])

In [7]:
df.dtypes

dt                               datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
State                                    object
Country                                  object
dtype: object

In [9]:
df.shape

(141930, 5)

In [26]:
mylist = list['dt']
mylist

TypeError: 'type' object is not subscriptable

In [29]:
useful_dates = []
for x in mylist:
    if x == 1994:
        useful_dates.append(x)
print(useful_dates)

[]